.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.card:hover .box {
    background-color: #fff;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

tbody td img {
    max-width: 100%;
    max-height: 50px;
}
.delete-button {
    background-color: red;
}